@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.page-transition {
    view-transition-name: page-content;
}

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@keyframes border {
    0% {
        --border-angle: 0deg;
    }
    100% {
        --border-angle: 360deg;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        animation: all 0.5s ease;
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

/* Disable animations for navbar and footer */
::view-transition-old(navbar),
::view-transition-new(navbar),
::view-transition-old(footer),
::view-transition-new(footer) {
  animation: none !important;
}

::view-transition-old(*){
  animation: slide-out 0.5s ease forwards;
  opacity:0;
}

::view-transition-new(*){
  animation: slide-up 0.5s ease forwards;
  opacity:1;
}