---
import Layout from "../layouts/Layout.astro"
import AboutUs from "../components/About.astro"
---

<Layout>
    <div transition:name="slide-up" transition:animate="slide">
        <AboutUs/>
    </div>
</Layout>