---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
---

<div transition:animate="slide" transition:name="slide-up">
	<Layout>
		<Hero client:load/>
	</Layout>
</div>
