---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import EmailConfirmationBanner from '../components/uicomponents/EmailConfirmationBanner.jsx';
---
<meta name="google-site-verification" content="kQ0xgU0Lnbv7JMqEBKmg-VnNb_rTD7Lj3-kSDlc39aU" />
<div transition:animate="slide" transition:name="slide-up">
	<Layout>
        <EmailConfirmationBanner client:load />
		<Hero client:load/>
	</Layout>
</div>
