---
import Layout from "../layouts/Layout.astro"
import LoginForm from "../components/LoginForm.jsx"
---

<Layout>
    <div transition:name="up-down" transition:animate="slide">
        <LoginForm client:load/>
    </div>
</Layout>