---
import Layout from "../layouts/Layout.astro"
import LoginForm from "../components/LoginForm.jsx"
---

<Layout>
    <div transition:animate="slide" transition:name="slide-up">
        <LoginForm client:load/>
    </div>
</Layout>