---
import Layout from "../layouts/Layout.astro"
import LoginForm from "../components/LoginForm.jsx"
---

<Layout>
    <div class="page-transition">
        <LoginForm client:load/>
    </div>
</Layout>