---
import Layout from "../layouts/Layout.astro"
import PricingComponent from "../components/Pricing.jsx"
---

<Layout>
    <div transition:name="slide-up" transition:animate="slide">
        <PricingComponent client:load/>
    </div>
</Layout>