---
import Layout from "../layouts/Layout.astro"
import PricingComponent from "../components/Pricing.jsx"
---

<Layout>
    <div class="page-transition">
        <PricingComponent client:load/>
    </div>
</Layout>