---
import Layout from '../layouts/Layout.astro';
import ResetPasswordForm from '../components/ResetPasswordForm.jsx';
---

<Layout title="Reset Password - ResumeRoast">
    <main>
        <ResetPasswordForm client:only="react" />
    </main>
</Layout>
