<footer>
    <div class="w-full h-24 flex items-center justify-center border-t border-white/10 mt-20 bg-[#151515]">
        <div class="grid grid-cols-3 w-full ">
            <div class=" rounded h-[36px] flex ml-10 gap-4 items-center">
                <img 
                    src="/image.png" 
                    alt="ResumeRoast-Logo"
                    class="w-10 h-10 rounded bg-[#FF6333FF] "
                >
                <a 
                    href="/" 
                    class="text-[#FF6333FF] font-medium text-[23px]">
                    Resume Roast
                </a>
            </div>
            <div class="flex justify-center items-center">
                <p class="text-white text-sm">Helping you craft the perfect resume, one roast at a time.</p>
            </div>
        </div>
        
        
    </div>
    <div class="w-full h-16 flex items-center justify-center mt-0 bg-[#151515]">
        <p class="text-white text-sm">&copy; 2024 Resume Roast. All rights reserved.</p>
    </div>

</footer>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>