<footer>
    <div class="w-full h-auto md:h-24 flex items-center justify-center border-t border-white/10 mt-10 md:mt-20 bg-[#151515] py-6 md:py-0">
        <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-4 md:gap-0 px-4">
            <div class="rounded h-auto flex justify-center md:justify-start md:ml-10 gap-4 items-center">
                <img 
                    src="/image.png" 
                    alt="ResumeRoast-Logo"
                    class="w-8 h-8 md:w-10 md:h-10 rounded bg-[#FF6333FF]"
                >
                <a 
                    href="/" 
                    class="text-[#FF6333FF] font-medium text-lg md:text-[23px]">
                    Resume Roast
                </a>
            </div>
            <div class="flex justify-center items-center text-center">
                <p class="text-white text-xs md:text-sm px-4">Helping you craft the perfect resume, one roast at a time.</p>
            </div>
        </div>
    </div>
    <div class="w-full h-12 md:h-16 flex items-center justify-center mt-0 bg-[#151515]">
        <p class="text-white text-xs md:text-sm text-center">&copy; 2024 Resume Roast. All rights reserved.</p>
    </div>
</footer>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>