---
const currentPath = Astro.url.pathname;
---
<!-- Navigation Bar -->
<div class="w-full h-20 flex items-center justify-around px-8 sticky top-0 z-50 pt-2 bg-black/30 backdrop-blur-2xl border-b-[0.5px] border-white/10">
    <nav class="flex items-center gap-4 top-0 left-0 w-full h-16">
        <div class="flex items-center gap-4 absolute">
            <div class="bg-[#FF6333FF] rounded h-[36px] w-[36px]">
                <img 
                    src="/image.png" 
                    alt="ResumeRoast-Logo"
                    class="w-10 h-10 pb-1 rounded"
                >
            </div>
            <a 
                href="/" 
                class="text-[#FF6333FF] font-medium text-[23px]">
                Resume Roast
            </a>

            <div class="text-white flex h-9 items-center gap-14 ml-auto font-medium text-[16px] pl-16">
                <a 
                    href="/" 
                    class={currentPath === '/' ? 'text-[#ff835d]' : 'text-white hover:text-[#ff835d] duration-300'}
                >
                    Home
                </a>
                <a 
                    href="/about" 
                    class={currentPath === '/about' || currentPath === '/about/' ? 'text-[#ff835d]' : 'text-white hover:text-[#ff835d] duration-300'}
                >
                    About
                </a>
                <a 
                    href="/pricing" 
                    class={currentPath === '/pricing' || currentPath === '/pricing/' ? 'text-[#ff835d]' : 'text-white hover:text-[#ff835d] duration-300'}
                >
                    Pricing
                </a>
            </div>

        </div>
        
        <div class="flex absolute right-10 text-white gap-8 font-medium">
            <button
                onclick=""
            >
                <a href="/login">Login</a>
            </button>
            
            <button
                class="w-20 h-10 bg-gradient-to-r from-[#F97316FF] to-[#DC2626FF] rounded-2xl hover:opacity-90 duration-300"
            >
                <a href="/login">Sign Up</a>
            </button>
        </div>
        
    </nav>
</div>