---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head transition:name="slide" transition:animate="slide">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Resume Roast</title>
	</head>
	<body>
		<ViewTransitions />
		<NavBar />
		<slot />
		<Footer/>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
	}
/* Button 
.button {
  position: absolute; 
  top: 16px; 
  left: 1329px; 
  width: 78.296875px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #FFFFFFFF; 
  background: linear-gradient(90deg, #F97316FF 0%, #DC2626FF 100%); 
  opacity: 1; 
  border-radius: 14px; 
  border-width: 0px; 
  border-color: #000000FF; 
  border-style: solid; 
}
/* Hover 
.button:hover {
  color: #FFFFFFFF; 
  background: #FF633300; 
}
/* Pressed 
.button:hover:active {
  color: #FFFFFFFF; 
  background: #FF633300; 
}
/* Disabled 
.button:disabled {
  opacity: 0.4; 
}
*/
</style>
